In [1]:
import pandas as pd 
import os 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt

In [2]:
area_values = pd.read_csv("C:\\Users\\User\\Desktop\\Nazarbayev University\\ISSAI Summer 2024\\KazDataset\\catchment attributes\\area-gages2.csv")
area_values.rename(columns={'Catchment_ID': "basin_id", "Area_sq_km": "area_gages2"}, inplace=True)
area_values

                                        basin_id   area_gages2
0    projects/ee-kd12358/assets/shapefiles/11001  58489.499676
1    projects/ee-kd12358/assets/shapefiles/11063     97.984369
2    projects/ee-kd12358/assets/shapefiles/11068   2953.293899
3    projects/ee-kd12358/assets/shapefiles/11077   2521.671927
4    projects/ee-kd12358/assets/shapefiles/11090    222.672868
..                                           ...           ...
101  projects/ee-kd12358/assets/shapefiles/19462  14183.288443
102  projects/ee-kd12358/assets/shapefiles/19463  17615.538337
103  projects/ee-kd12358/assets/shapefiles/77818      3.844652
104  projects/ee-kd12358/assets/shapefiles/77819   2323.292255
105  projects/ee-kd12358/assets/shapefiles/77895    180.306653

[106 rows x 2 columns]

In [3]:
area_values['basin_id'] = area_values['basin_id'].apply(lambda x: x.split('/')[-1])
area_values

    basin_id   area_gages2
0      11001  58489.499676
1      11063     97.984369
2      11068   2953.293899
3      11077   2521.671927
4      11090    222.672868
..       ...           ...
101    19462  14183.288443
102    19463  17615.538337
103    77818      3.844652
104    77819   2323.292255
105    77895    180.306653

[106 rows x 2 columns]

In [4]:
area_values['basin_id'] = area_values['basin_id'].apply(lambda x: str(x))
area_values

    basin_id   area_gages2
0      11001  58489.499676
1      11063     97.984369
2      11068   2953.293899
3      11077   2521.671927
4      11090    222.672868
..       ...           ...
101    19462  14183.288443
102    19463  17615.538337
103    77818      3.844652
104    77819   2323.292255
105    77895    180.306653

[106 rows x 2 columns]

area values are ready for the normalization

In [5]:
path1 = "streamflow_default_units/"
path2 = "streamflow_last/"

In [6]:
import shutil

# Move the file
# shutil.move(source_file, destination_dir)

In [7]:
for file in os.listdir(path1):

    if (file not in os.listdir(path2)):
        print("This file is not in Yearbooks: " + file)
        shutil.copy(path1 + file, 'omega/' + file)
        continue
    
    khm = pd.read_csv(path1 + file)
    llama = pd.read_csv(path2 + file)

    # Merge on date, keep all dates
    merged = pd.merge(khm, llama, on='date', how='outer', suffixes=('_khm', '_llama'))

    # Fill values: use Llama Values if not NaN, else use file2
    merged['discharge'] = merged['discharge_llama'].combine_first(merged['discharge_khm'])

    # Keep only date and merged value
    merged = merged[['date', 'discharge']]

    # Filter by date range
    filtered = merged[(merged['date'] >= '2000-01-01') & (merged['date'] <= '2022-12-31')]

    filtered.to_csv('omega/' + file, index=False)
    print(f'this file {file} is done\n')

this file 11001.csv is done

this file 11063.csv is done

this file 11068.csv is done

this file 11077.csv is done

This file is not in Yearbooks: 11090.csv
this file 11094.csv is done

this file 11108.csv is done

this file 11117.csv is done

this file 11124.csv is done

this file 11126.csv is done

this file 11129.csv is done

this file 11131.csv is done

This file is not in Yearbooks: 11139.csv
this file 11143.csv is done

this file 11146.csv is done

this file 11147.csv is done

This file is not in Yearbooks: 11157.csv
this file 11160.csv is done

this file 11163.csv is done

this file 11164.csv is done

this file 11170.csv is done

this file 11187.csv is done

this file 11188.csv is done

this file 11199.csv is done

this file 11207.csv is done

This file is not in Yearbooks: 11219.csv
this file 11233.csv is done

this file 11272.csv is done

this file 11275.csv is done

this file 11291.csv is done

this file 11293.csv is done

this file 11395.csv is done

this file 11397.csv is done

this file 11421.csv is done

this file 11424.csv is done

this file 11432.csv is done

this file 11433.csv is done

this file 11453.csv is done

this file 11461.csv is done

this file 11468.csv is done

this file 11469.csv is done

this file 11661.csv is done

this file 12001.csv is done

this file 12002.csv is done

this file 12008.csv is done

this file 12029.csv is done

this file 12031.csv is done

this file 12032.csv is done

this file 12072.csv is done

this file 12075.csv is done

this file 12564.csv is done

this file 13002.csv is done

this file 13005.csv is done

this file 13038.csv is done

this file 13048.csv is done

this file 13061.csv is done

this file 13064.csv is done

this file 13090.csv is done

this file 13091.csv is done

This file is not in Yearbooks: 13095.csv
this file 13105.csv is done

this file 13115.csv is done

this file 13128.csv is done

this file 13142.csv is done

this file 13148.csv is done

this file 13198.csv is done

this file 13201.csv is done

this file 13221.csv is done

this file 19010.csv is done

this file 19021.csv is done

this file 19022.csv is done

this file 19033.csv is done

this file 19034.csv is done

this file 19130.csv is done

this file 19180.csv is done

this file 19195.csv is done

this file 19196.csv is done

this file 19205.csv is done

this file 19208.csv is done

this file 19211.csv is done

this file 19218.csv is done

this file 19220.csv is done

this file 19229.csv is done

this file 19239.csv is done

this file 19240.csv is done

this file 19243.csv is done

this file 19246.csv is done

this file 19247.csv is done

This file is not in Yearbooks: 19255.csv
this file 19289.csv is done

this file 19300.csv is done

this file 19301.csv is done

this file 19302.csv is done

this file 19462.csv is done

this file 19463.csv is done

this file 77819.csv is done

In [9]:
for file in os.listdir(path2):
    if file not in os.listdir(path1): 
        print(file)
        shutil.copy(path2 + file, 'omega/' + file)

11242.csv
19013.csv
77895.csv

In [10]:
area = area_values.to_dict('split')
temp = dict(area['data'])

In [16]:
for file in os.listdir('omega/'):
    if (file in os.listdir('omega_norm/')):
        continue
    tempo = pd.read_csv('omega/' + file)
    tempo['discharge'] = tempo['discharge'].replace('', np.nan)
    tempo['discharge'] = tempo['discharge'].astype(float)
    tempo.to_csv('omega_norm/' + file, index=False)
    print(file + " is done \n")

13064.csv is done

13090.csv is done

13091.csv is done

13095.csv is done

13105.csv is done

13115.csv is done

13128.csv is done

13142.csv is done

13148.csv is done

13198.csv is done

13201.csv is done

13221.csv is done

19010.csv is done

19013.csv is done

19021.csv is done

19022.csv is done

19033.csv is done

19034.csv is done

19130.csv is done

19180.csv is done

19195.csv is done

19196.csv is done

19205.csv is done

19208.csv is done

19211.csv is done

19218.csv is done

19220.csv is done

19229.csv is done

19239.csv is done

19240.csv is done

19243.csv is done

19246.csv is done

19247.csv is done

19255.csv is done

19289.csv is done

19300.csv is done

19301.csv is done

19302.csv is done

19462.csv is done

19463.csv is done

77819.csv is done

77895.csv is done

In [17]:
for file in os.listdir('omega_norm/'):
    tempo = pd.read_csv('omega_norm/' + file)
    tempo['discharge'] = (tempo['discharge'].astype(float) * 86.4) / temp[file.split('.')[0]]
    tempo.to_csv('omega_norm/' + file, index=False)
    print(file + " is done \n")

11001.csv is done

11063.csv is done

11068.csv is done

11077.csv is done

11090.csv is done

11094.csv is done

11108.csv is done

11117.csv is done

11124.csv is done

11126.csv is done

11129.csv is done

11131.csv is done

11139.csv is done

11143.csv is done

11146.csv is done

11147.csv is done

11157.csv is done

11160.csv is done

11163.csv is done

11164.csv is done

11170.csv is done

11187.csv is done

11188.csv is done

11199.csv is done

11207.csv is done

11219.csv is done

11233.csv is done

11242.csv is done

11272.csv is done

11275.csv is done

11291.csv is done

11293.csv is done

11395.csv is done

11397.csv is done

11421.csv is done

11424.csv is done

11432.csv is done

11433.csv is done

11453.csv is done

11461.csv is done

11468.csv is done

11469.csv is done

11661.csv is done

12001.csv is done

12002.csv is done

12008.csv is done

12029.csv is done

12031.csv is done

12032.csv is done

12072.csv is done

12075.csv is done

12564.csv is done

13002.csv is done

13005.csv is done

13038.csv is done

13048.csv is done

13061.csv is done

13064.csv is done

13090.csv is done

13091.csv is done

13095.csv is done

13105.csv is done

13115.csv is done

13128.csv is done

13142.csv is done

13148.csv is done

13198.csv is done

13201.csv is done

13221.csv is done

19010.csv is done

19013.csv is done

19021.csv is done

19022.csv is done

19033.csv is done

19034.csv is done

19130.csv is done

19180.csv is done

19195.csv is done

19196.csv is done

19205.csv is done

19208.csv is done

19211.csv is done

19218.csv is done

19220.csv is done

19229.csv is done

19239.csv is done

19240.csv is done

19243.csv is done

19246.csv is done

19247.csv is done

19255.csv is done

19289.csv is done

19300.csv is done

19301.csv is done

19302.csv is done

19462.csv is done

19463.csv is done

77819.csv is done

77895.csv is done